@font-face {
  font-family: 'Exo';
  src: url('fonts/exo.otf') format('opentype');
}

@font-face {
  font-family: 'ExoMedium';
  src: url('fonts/Exo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ExoLight';
  src: url('fonts/Exo-Light.otf') format('opentype');
}