/* * {
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: 'Exo';
  src: url('fonts/exo.otf') format('opentype');
}

@font-face {
  font-family: 'ExoMedium';
  src: url('fonts/Exo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ExoLight';
  src: url('fonts/Exo-Light.otf') format('opentype');
}

h2, h3 {
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
}



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { Firefox
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { Safari and Chrome
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { Opera
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}






.header-wrapper {
	background: url(img/header_bckg.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100vh;
  	color: #fff;
}

.title-wrapper {
	display: table-cell;
	vertical-align: middle;
	font-family: "ExoMedium", sans-serif;	
}

.title-wrapper h1 {
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	animation: fadein 5s;
    -moz-animation: fadein 5s; Firefox
    -webkit-animation: fadein 5s; Safari and Chrome
    -o-animation: fadein 5s; Opera
}

.title-wrapper h3 {
	text-align: center;
	font-size: 36px;
	font-family: "ExoLight", sans-serif;
	animation: fadein 8s;
    -moz-animation: fadein 8s; Firefox
    -webkit-animation: fadein 8s; Safari and Chrome
    -o-animation: fadein 8s; Opera
}

.menu {
	text-align: center;
	margin-top: -1000px;
	display: none;
}


.menu ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
	padding: 10px 54px;
}

.menu ul li a {
	color: #fff;
	font-size: 24px;
}

.menu ul li:first-child {
	padding-left: 0px;
}

.menu ul li:last-child {
	padding-right: 0px;
}


.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url(img/avatar.jpg) top no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	} */